SERVICE_NAME=publish-service
PORT=8085
APP_ENV=development
LOG_LEVEL=debug
AUTH_MODE=development
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=goapps
KEYCLOAK_CLIENT_ID=goapps-platform
KEYCLOAK_AUDIENCE=goapps-platform
METADATA_SERVICE_URL=http://localhost:8082
